/* 初始化 */

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #666;
  color: rgb(71, 71, 71);
  box-sizing: border-box;
}

#mbody {
  transition: 1.5s;
  background-color: black;
}

a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

a {
  transition: color 0.2s;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: unset;
  font-size: unset;
  font-weight: unset;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

input,
textarea,
label {
  outline: none;
  border: none;
  margin: 0;
}

button {
  outline: none;
  border: none;
  background: 0 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a:focus,
input:focus,
textarea:focus {
  outline: 0;
  box-shadow: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

/* 公共 */
.imgbox {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.514);
  cursor: pointer;
}

img {
  max-width: 100%;
}

.none {
  display: none;
  height: 0px;
  overflow: hidden;
}

.back-botm {
  /* background-color: black; */
  height: 100vh;
}
.bottom-page {
}
.bottom-page span {
  font-size: 13px;
  font-weight: bold;
}
.bottom-page div {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition-property: background-color;
  -moz-transition-property: background-color; /* Firefox 4 */
  -webkit-transition-property: background-color; /* Safari and Chrome */
  -o-transition-property: background-color; /* Opera */
  transition-duration: 0.5s;
  border: 1px solid #eee;
  margin: 0 10px;
}
.bottom-page .active {
  color: white;
  background-color: red;
}
.bottom-page div:hover {
  color: white;
  background-color: red;
}
/* 布局 */

.container {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: -webkit-flex;
  display: flex;
}

.flex-c {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-c-t {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-c-b {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-s {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-l {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.flex-l i {
  font-size: 20px;
}

.flex-r {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#ifram {
  height: auto;
}

/* 顶部 */

.top-header {
  width: 100%;
  height: 105px;
  color: #757575;
}

.header-left {
  width: 166px;
}

.th-input-box {
  width: 400px;
  height: 44px;
  border-radius: 22px;
  padding: 0 10px;
  margin: 0 40px;
  background-color: rgb(34, 34, 34);
}

.th-select {
  border-radius: 4px;
  border: 0px solid rgb(34, 34, 34);
  background-color: rgb(34, 34, 34);
  color: #6a6f77;
  cursor: pointer;
}

.th-line {
  height: 100%;
  width: 1px;
  background-color: rgb(58, 58, 58);
  margin: 0 5px;
}

.th-input {
  flex-grow: 0.7;
  height: 100%;
  color: white;
  border: 0px solid rgb(34, 34, 34);
  background-color: rgb(34, 34, 34);
}

.th-btn {
  flex-grow: 0.2;
  border: 0px solid rgb(34, 34, 34);
  background-color: rgb(34, 34, 34);
  color: white;
}

.th-ico {
  width: 300px;
}

.th-ico ul li {
  width: 40px;
  height: 40px;
  background-color: rgb(34, 34, 34);
  border-radius: 50%;
  margin: 0 5px;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: center;
  /*水平*/
  align-items: center;
  /* 垂直 */
}

.th-ico ul li img {
  height: 20px;
  width: 20px;
}

.back-color-box {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.mask {
  height: 1000px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  z-index: -1;
}

/* 导航 */

.nav {
  /* height: 50px; */
  color: white;
}

.nav-left li i {
  /* padding: 17px 40px; */
  cursor: pointer;
  /* transition: 0.5s; */
  padding: 0 10px;
}

/* .nav-a { */

.nav-left a {
  /* background-color: black; */
  display: inline-block;
  padding: 14px 20px;
  margin: 0 5px;
  /* width: 100%; */
}

.nav-left a:hover {
  background-color: rgb(168, 27, 27);
}

.nav-right {
  width: 150px;
  font-size: 13px;
}

.nav-right div {
  cursor: pointer;
}

.nav-right i {
  margin-right: 5px;
}

.nav-right .imgbox {
  margin: 0 5px;
}

.nav-login {
}

.nav-line {
  height: 30px;
  width: 1px;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.342);
}

.nav-reg {
}

/* 视频 */

.video-box {
  min-height: 1000px;
  width: 100%;
  position: absolute;
  background-image: url('../img/bg-01.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.video-box video {
  /* object-fit: fill; */
  position: absolute;
  right: 0px;
  bottom: 0px;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.video-box video source {
  height: 100%;
  width: 100%;
}

.video-botm {
  position: absolute;
  width: 100%;
  height: 173%;
  background-color: black;
  z-index: -3;
}

/* 焦点区域 */

.focal-area {
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  /* align-items: ; */
}

.focal-left {
  width: 100px;
  height: auto;
  flex-grow: 3;
}

.focal-right {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.514);
  flex-grow: 1;
}

.focal-right pre {
  color: white;
  font-size: 17px;
  font-weight: 800;
  margin-top: 40px;
}

.focal-but {
  width: 170px;
  height: 46px;
  background-color: red;
  border-radius: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 12px;
  color: white;
  margin: 0 auto;
  cursor: pointer;
}

/* 4张展示图 */

.show-4imgbox {
  /* padding-bottom: 80px; */
}

.show-4imgbox .show-img {
  width: 23%;
  cursor: pointer;
}

.show-4imgbox .show-img span {
  display: block;
  color: white;
  font-size: 24px;
  text-align: center;
  /* margin-bottom: 15px; */
}

.show-4imgbox .show-img .t2 {
  font-size: 13px;
}

/* 视频标题 */

.titl-popular {
  padding-top: 120px;
  padding-bottom: 10px;
  font-size: 24px;
  color: white;
}

.titl-popular-hr {
  margin: 0 auto;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.103);
  max-width: 1200px;
  margin-bottom: 50px;
}

.titl-popular i {
  margin-right: 5px;
  cursor: pointer;
}

/* 热门视频 */

.popular-clothing {
  padding: 60px 0;
}

.popular-clothing .show-img {
  width: 30%;
  transition: 0.5s;
  cursor: pointer;
}

.popular-clothing .show-img img {
  /* width: 390px; */
}

.popular-clothing .show-img:hover {
  transition: 1s;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: 99;
}

.popular-clothing .show-img span {
  display: block;
  color: white;
  font-size: 13px;
  text-align: center;
  margin-bottom: 5px;
  margin: 5px;
}

.popular-clothing .show-img .t2 {
  font-size: 13px;
}

.popular-clothing .barrage {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* pointer-events：none; */
  pointer-events: none;
  /* background-color: rgb(146, 146, 146); */
}

.popular-clothing .barrage marquee {
  color: rgb(253, 253, 253);
  transition: 0.5s;
  font-size: 23px;
}

/* 广告 */

.AD {
  padding-bottom: 40px;
}

.AD .imgbox {
  width: 100%;
  height: 60px;
}

/* 底部 */

.bottom-hr {
  height: 1px;
  width: 100%;
  background-color: rgb(54, 54, 54);
}

.Bottom {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: black;
}

/* login */

.login-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/19737.jpg');
}

.from-login {
  min-width: 1150px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 4px #0000004b;
  background-color: rgb(255, 255, 255);
}

.from-login .left {
  /* flex-grow: 1; */
  width: 480px;
  height: 100%;
  background-color: rgb(127, 219, 255);
  background-image: url('../img/bg-8a2fa02.jpg');
  /* 对齐 */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* 背景遮罩 */
  background-color: rgba(8, 8, 8, 0.295);
  background-blend-mode: multiply;
}

.from-login .right {
  flex-grow: 1;
  /* width: 600px;1 */
  height: 100%;
  /* flex-basis:500px; */
  /* background-color: rgb(127, 136, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.from-login .right .login-input-box {
  width: 90%;
  height: 92%;
  /* background-color: blanchedalmond; */
}

.login-input-box .input-text input {
  width: 60%;
  color: #aaa;
  border-radius: 5px;
  border: 1px solid #eee;
  font-style: italic;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  padding: 0 21px;
  font-size: 14px;
  font-family: inherit;
}

.login-input-box .switch {
  padding: 20px 0;
}

.login-input-box .switch .active {
  color: #e40914;
  font-weight: 800;
  font-size: 35px;
}

.login-input-box .switch span {
  font-size: 25px;
  cursor: pointer;
  color: rgb(70, 70, 70);
}

.login-input-box .switch a {
}

.login-input-box .title {
  /* padding: 8px 0; */
  margin-bottom: 20px;
  cursor: pointer;
}

.login-input-box .input-text div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.login-input-box .input-text div label {
  cursor: pointer;
}

.login-input-box .input-text .login-input-checkbox {
  width: 20px;
  margin-right: 5px;
  height: 15px;
  /* cursor: pointer; */
}

.login-input-box .input-text label {
  /* width: 20px; */
  height: 30px;
  line-height: 10px;
}

.login-input-box .login-input-btn {
  background: #e40914;
  color: #fff;
  transition: all 0.2s;
  line-height: 50px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  /* width: 100%; */
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  border-radius: 30px;
  transition: all 0.5s;
  box-shadow: 5.7px 5.7px 15.7px 0.3px rgba(0, 0, 0, 0.12);
  width: 60%;
  padding: 0 21px;
}

.login-input-box .login-input-btn:hover {
  background: #b4060f;
  box-shadow: 6.7px 6.7px 15.7px 0.5px rgba(0, 0, 0, 0.12);
}

.login-input-box .forget-pasword a {
  color: #666;
}

.login-input-box .forget-pasword {
  margin-top: 50px;
  color: rgb(146, 146, 146);
  cursor: pointer;
}

/* 视频详情页面 */

.introduced-backimg-box {
  background-image: url('../img/wallhaven-k736q6.jpg');
  height: 500px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 150px;
  z-index: -2;
}

.introduced-title {
  margin-top: 100px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.397);
  text-align: center;
  color: white;
}

.introduced-title h2 {
  font-size: 45px;
  margin-bottom: 10px;
}

.introduced-title p {
  max-width: 650px;
  font-size: 15px;
  margin: 0 auto;
}

.introduced-video {
  /* height: 500px; */
  margin-top: 100px;
  background-color: rgba(0, 0, 0);
}

.introduced-body {
  margin-top: 20px;
  /* background-color: rgb(195, 205, 50); */
  /* height: 500px; */
}

.introduced-body .left {
  width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px rgb(236, 236, 236) solid;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.introduced-body .left img {
  /* width: 280px; */
  /* height: 352px; */
}

.introduced-body .left ul {
  margin: 10px;
}

.introduced-body .left li {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.introduced-body .left li span:nth-child(1) {
  font-weight: bold;
  color: black;
}

.introduced-body .left li span:nth-child(2) {
  color: rgb(100, 100, 100);
}

.introduced-body .left button {
  width: 222px;
  height: 46px;
  background-color: #e40914;
  color: white;
  text-align: center;
  font-size: 16px;
  display: block;
  margin: 30px auto 15px auto;
  border-radius: 23px;
}

.introduced-body .left button:hover {
  background-color: #f10f1b;
}

.introduced-body .right {
  /* background-color: tomato; */
  height: 100%;
  padding-left: 30px;
  flex: 1;
}

.introduced-body .right h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.introduced-body .right span {
  display: inline-block;
  word-spacing: 3px;
  text-indent: 2em;
  margin-bottom: 30px;
}

.introduced-body .right img {
  margin-bottom: 20px;
  width: 100%;
}

/* 联系我 */

.contact-message {
  flex-wrap: wrap;
  padding-top: 30px;
}

.contact-message .icon-msg {
  /* background-color: violet; */
  margin: 3px;
  height: 200px;
  /* min-width: 300px; */
  /* width: 48%; */
  /* flex: 0.25; */
}

.contact-message {
}

.contact-message .icon-msg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-message .icon-msg i {
  font-size: 50px;
  color: rgb(99, 99, 99);
}

.contact-message .icon-msg h3 {
  font-size: 1.3em;
}

.contact-message .icon-msg span {
  width: 240px;
  color: #757575;
}

.contact-hr {
  background-color: #eee;
  height: 1px;
  margin: 50px 0;
}

.contact h2 {
  font-size: 25px;
  text-align: center;
}

.contact span {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.contact input,
.contact textarea {
  border: 1px solid #e1e1e1;
  display: block;
}

.contact .h-input {
  width: 100%;
  /* background-color: ant  iquewhite; */
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .h-input input,
.contact .h-input textarea {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  color: #aaa;
}

.contact .h-input .contact-subj {
  width: 100%;
}

.contact .h-input textarea {
  width: 100%;
}

.contact button {
  min-width: 200px;
  height: 60px;
  width: 200px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  background-color: rgb(238, 54, 54);
}

.contact > div {
  margin: 50px 0;
}

/* 全部类型的视频 */

.all h2 {
  font-size: 25px;
  margin-top: 80px;
}

.all .classif ul {
  width: 100%;
  margin: 20px;
}

.all .classif ul li {
  margin-right: 10px;
  font-size: 18px;
}

.all .classif ul li.active {
  margin-right: 10px;
  font-size: 23px;
  color: #e40914;
  font-weight: bold;
}

.all .all-video {
  flex-wrap: wrap;
  margin-bottom: 50px;
  cursor: pointer;
}

.all .all-video > div {
  width: 23%;
  height: 400px;
  margin: 5px;
  /* background-color: aquamarine; */
}

.all .all-video div img:hover {
  width: 400px;
}

.all .pageing {
  margin-bottom: 20px;
}

.all .pageing div {
  width: 50px;
  padding: 5px 15px;
  margin: 0 10px;
  cursor: pointer;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px beige solid;
}

.all .pageing div:hover {
  background-color: #e40914;
  color: white;
}

.all .pageing div:nth-child(1) {
  /* background-color: rgb(127, 219, 255); */
}

.all .pageing div:nth-child(6) {
}

.all .pageing {
}

/* 博客 */

.blog-overlay-top-header {
  flex-direction: column;
  height: 200px;
  color: white;
  font-size: 18px;
  background-color: royalblue;
  background-image: url('../img/blog-bk.jpg');
  /* 背景遮罩 */
  background-color: rgba(8, 8, 8, 0.384);
  background-blend-mode: multiply;
}

.blog-overlay-top-header .title {
  margin-bottom: 15px;
}

.blog-overlay-top-header span {
  font-size: 12px;
}

.blog {
  margin-top: 50px;
}

.blog .left {
  width: 860px;
  padding: 0 20px;
}

.blog .left .blog-item {
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom: rgb(230, 230, 230) 1px solid;
}
.blog .left .blog-item .show-img {
  position: relative;
}
.blog .left .blog-item .show-img .time {
  width: 80px;
  height: 80px;
  flex-direction: column;
  position: absolute;
  bottom: 3px;
  color: white;
  background-color: rgba(0, 0, 0, 0.468);
}
.blog .left .blog-item .show-img .time span:nth-child(1) {
  font-size: 28px;
}
.blog .left .blog-item .show-img .time span:nth-child(2) {
  font-size: 12px;
}
.blog .left .blog-item h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}

.blog .left .blog-item .msg-box {
  width: 100%;
  height: auto;
}

.blog .left .blog-item .msg-box .line {
  margin: 0 15px;
  width: 12px;
  height: 100%;
  border: #555555 solid 1px;
}

.blog .left .blog-item .text {
  margin: 15px 0;
}

.blog .left .blog-item .btn {
  display: inline-block;
  padding: 10px 50px;
  border-radius: 19px;
  /* width: 50px; */
  cursor: pointer;
  color: white;
  background-color: rgb(255, 0, 0);
}
.blog .left .blog-item .btn:hover {
  background-color: rgb(202, 13, 13);
}
.blog .right {
  flex: 1;
  width: 100px;
  border-left: rgb(209, 209, 209) 1px solid;
  padding-left: 30px;
}

.blog .right .list-box .title-1 {
  border-left: red 5px solid;
  padding-left: 20px;
  margin: 20px 0;
  margin-top: 40px;
}

.blog .right .list-box ul li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.blog .right .list-box ul li i {
  margin-right: 5px;
}
.blog .right .list-box .img-msg {
}
.blog .right .list-box .img-msg .le {
  width: 300px;
  margin: 10px;
}
.blog .right .list-box .img-msg .le img {
}
.blog .right .list-box .img-msg .ri span {
  display: inline-block;
}
.blog .right .list-box .img-msg .ri span:nth-child(1) {
}
.blog .right .list-box .img-msg .ri span:nth-child(2) {
  font-size: 14px;
  color: rgb(141, 141, 141);
}
.blog-page {
  margin-bottom: 100px;
}
.blog-page span {
  margin-right: 20px;
}

.blog-page span,
.blog-page i {
  cursor: pointer;
}
